<app-header></app-header>
<div class="list-group">
    <button type="button"  id="btnTitle"class="list-group-item list-group-item-action active" disabled>
      Bienvenido al menu futbol
    </button>
    <button (click)= "ListaEstudiantes()" type="button" class="list-group-item list-group-item-action">Listado de estudiantes</button>
    <button type="button" class="list-group-item list-group-item-action">Consultas</button>
    <button type="button" class="list-group-item list-group-item-action">Defincion de objetivos</button>

  </div>
  <app-footer></app-footer>