

    <app-header>
    </app-header>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Estudiantes</th>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sabado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">7-9 am</th>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
          </tr>
          <tr>
            <th scope="row">9-11 am</th>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
          </tr>
          <tr>
            <th scope="row">11-13 pm</th>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
          </tr>
          <tr>
            <th scope="row">13-15 pm</th>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>Clase</td>
          </tr>
        </tbody>
      </table>
    
    
    <app-footer></app-footer>

