.infoSesion{
    margin-top: 3.9%;
    padding-left: 30px;
    text-align: left;
    border: solid;
    background-color: coral;
    border-color:coral; 
    opacity: 1;
    border-radius: 30©px;
 
}
.nameUser{
    font-weight:bold;
    color:black;

}

